html{
    min-height: 100%;
    position: relative;
}

.header-links{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    border-width: thick;
    background-color: white;
    align-items: center;
    font-size: small;
   /* border: solid 5px blue; */
    
   }
   .header-links > a{
    text-decoration: none;
    color: rgb(0, 0, 0);
    margin: 10px; 
    }
    #header-link:hover{
        text-decoration: underline;
        
    }
.header-links > .gmail{
    margin-left: auto;
}


}
.a1{
    display: block;
    
    box-sizing: border-box;
    


}
.google-logo{
    display: flex;
    justify-content: flex-end;
    max-width: 272px;
    align-items: center;
    margin: 200px auto auto auto;
    
}

.search-bar{
    display: flex;
    flex: 1;
    justify-content: center;
    margin: auto;
    height: 30px;
    width: 1000px;
    border-radius: 50%;
    margin-top: 30px;
}

.header-logos{
    width: 2rem;
    }
.search-icon{
    position: relative;
    bottom: 0px;
    left: 35px;
    width: 1.5rem;
}

#buttons{
    display: flex;
    justify-content: center; 
    margin-top: 30px;
    position:relative;
    
}
.b2{
    margin-left: 10px; 
}
footer{
    position: absolute;
    left: 0;
    bottom: 0;
    height: auto;
    width: 100%;
    overflow: hidden;
}
#footer-fb{
    padding: 10px 10px 20px 10px; 
    background-color: rgb(228, 228, 228);
    display: flex; 
    justify-content: space-between;
    align-items: flex-end;
    flex-wrap: wrap;
    width: auto;
    height: 100%;
    color: black;
    
    
}
#footer-link{
    margin-left: 10px;
    color: black;
    text-decoration: none;
    font-size: small;
}
#footer-link:hover{
    text-decoration: underline;
}
#carbon-statement{
    margin-left: -130px;
}




